.testRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.testRow h4{
    font-size: normal;
}
.testRow p, a{
    font-size: normal;
}

@media screen and (max-width:768px) {
    .testRow h4{
        font-size: 15px;
        text-align: justify;
        margin-top: 10px;
    }
    .testRow p, a{
        font-size: 12px;
    }
}
@media screen and (max-width: 480px) {
    .testRow{
        display: grid;
        grid-gap: 10px;
    }
}

