.aboutUs{
    padding-bottom: 100px;
    padding-top: 100px;
}
.aboutUs img{
    height: 300px;
    width: 525px;
    border-radius: 50%;
    display: block;
}
.aboutUs p{
    font-size: 17px;
    text-align: justify;
    
}
.firstsWord{
    font-size: 60px;
    /* font-weight: bold; */
    /* font-family: fantasy; */
}
.aboutUs h2{
    font-size: 48px;
    letter-spacing: 9px;
    font-family: fantasy;
    text-align: center;
    /* color: #fff; */
}


/* Slider */

.slick-prev:before, .slick-next:before {
    /* font-family: 'slick';
    font-size: 30px;
    line-height: 1;
    opacity: .75;
    color: #292626 !important; */
    /* -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
}
.slick-next{
    /* right: 30px !important;
    z-index: 100; */
    /* display: none !important; */
}
.slick-prev{
    /* left: 30px !important;
    z-index: 100; */
    /* display: none !important; */
}

.slick-dots li button:before {
    /* font-family: 'slick'; */
    /* font-size: 10px !important; */
    /* color: goldenrod; */
}







@media screen and (max-width:768px){
    .aboutUs h2{
        /* font-size: 24px; */
        letter-spacing: none;
        text-align: center;
    }
    .aboutUs p{
        font-size: 15px;
        padding: 10px;
        text-align: justify;
        
    }
}
@media screen and (max-width:480px){
    .aboutUs h1{
        font-size: 24px;
    }
    .aboutUs p{
        font-size: 15px;
        padding: 10px;
        text-align: justify;
        
    }
}







