.pContainer {
    display: flex;
    padding-top:100px;
}
.imgDiv {
    margin-right: inherit;
}
.imgDiv1 {
    /* margin-right: inherit; */
    display: none;
}
.pContainer img{
    width: 100%;
    height: 397px;
    vertical-align: middle;
}

.pWord{
    background-color: #3C5266;
    color: #fff;
    padding: 35px;
    /* margin-right: inherit; */
}

.pWord p{
    /* width: 100%; */
    /* font-size: 17px; */
}

.signature{
    float: right;
    font-family:cursive;
}

@media screen and (max-width: 768px) {
    .pContainer{
        display: grid;
        /* grid-template-columns: 1fr; */
    }
    .pContainer img{
        width: 100%;
        height: auto;
        vertical-align: middle;
    }
    
}
@media screen and (max-width: 768px) {
    .pContainer{
        display: grid;
        /* grid-template-columns: 1fr; */
    }
    .imgDiv1 {
        /* margin-right: inherit; */
        display:inline-block
    }
    .imgDiv {
        margin-right: inherit;
        display: none;
    }
    
}