.dropdowns-menu{
    width: 200px;
    position: absolute;
    top: 60px;
    list-style: none;
    text-align: start;
    
   
}

.dropdowns-menu li{
    background: #000;
    cursor: pointer;
    border-top: 1px solid #fff;
}

.dropdowns-menu li:hover{
    background: #333;
    color: tomato;
}

.dropdowns-menu.clicked{
    display: none;
}

.dropdowns-link{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    padding: 10px;
}

.dropdowns-link:hover{
    color: gold;
    /* padding: 16px; */
}

@media screen and (max-width: 960px) {
    .fa-caret-down {
      display: none;
    }
  }