

.info-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 0 5px; */
    /* margin: 0 -20px; */
}

.info-primary{
    background-color: #1CC7C1;
}
.info-dark{
    background-color: #3A4256;
}

.info-container{
    width: 100%;
    height: 100%;
    padding: 30px;
    margin: 20px;
}
.info-icon{
    /* font-size: 6em; */
}

.info-card:hover{
    transform: scale(1.07);
    transition: all 0.2s ease-in-out;
    cursor: pointer;        
}

.infoDes{
    text-align: center;
}


/* 
@media (max-width:768px) {
    .info-container {
        height: 100px;
        width: 30em;
        padding: 15px 5px;
        margin: 10px;
        flex: wrap;
        align-items: center;
        }
        .info-icon{
            font-size: 2em;
        }
}
@media (min-width:770px) {
    .info-container {
        height: 100px;
        width: 50em;
        padding: 30px 5px;
        margin: 10px;
        flex: wrap;
        align-items: center;
        }
        .info-icon{
            font-size: 2em;
        }
} */
